@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: fontgol;
    src: url(../font/IRANSansWebFaNum-Medium.eot) format(eot);
    src: url(../font/IRANSansWebFaNum-Medium.ttf) format(ttf);
    src: url(../font/IRANSansWebFaNum-Medium.woff) format(woff);
    src: url(../font/IRANSansWebFaNum-Medium.woff2) format(woff2);
  }
#navBar:checked + nav {
    height: 400px;
  }
  #navbar-2:checked + .nav-2{
    height: 300px;
    
  }
  html{
    scroll-behavior: smooth;
}
#navbar-2{
    display: none;
    
}

@layer components{
    
    .body{
        @apply  mobile:overflow-x-hidden dark:bg-black p-0 m-0 box-border;

      
      }
        
   .header-div-1{ 
 @apply  desctop:w-[100%] desctop:h-[100px] bg-[#252525] desctop:pt-[8px] desctop:pb-[30px] sticky inset-0 z-[999]  w-[100%]
 mobile:h-[181px] mobile:pb-[30px] mobile:pt-[7.5px] mobile:flex mobile:justify-center mobile:items-center dark:bg-black ;
}
.header-img-1{
    @apply w-[170px] h-[105px] absolute desctop:right-[260px] desctop:bottom-[-50%] z-20   ;
}
.header-div-2{ 
    @apply  w-[927px] h-[66px] mx-auto pt-[25px] mr-[240px] ;
}
.header-nav-1{
@apply  desctop:flex desctop:flex-row desctop:flex-nowrap desctop:justify-center desctop:w-[100%]    desctop:h-[60px] desctop:ml-[-20%] 
 mobile:object-none  mobile:w-0 mobile:h-0 mobile:text-[0]

}

.header-span-1{
    @apply desctop:w-[1px] desctop:h-[50%] desctop:bg-white  desctop:absolute desctop:right-0 desctop:top-[5px] desctop:opacity-30 mobile:object-none  mobile:w-0 mobile:h-0 mobile:text-[0];
}
.header-a-2{
    @apply desctop:text-[#afb2b4]  desctop:py-[11px] desctop:mt-[5px] desctop:px-[20px] desctop:opacity-[0.9] desctop:w-auto  desctop:h-[100%]  font-fontsans  desctop:hover:text-white desctop:hover:opacity-100 desctop:transition-all desctop:duration-300 desctop:ease-linear   desctop:relative desctop:z-50 desctop:text-[15px] 
    mobile:object-none  mobile:w-0 mobile:h-0 mobile:text-[0];
}
.header-div-3{
    @apply  transition-all duration-300 ease-linear flex flex-col justify-start  font-fontsans  p-[10px]  leading-[30px] group-hover:w-[175px] group-hover:h-fit group-hover:bg-[#282727] group-hover:absolute group-hover:top-[50px]  group-hover:right-0 text-right dark:group-hover:bg-white dark:group-hover:text-black;
}
.header-div-4{
    @apply  w-[100%] h-[40px] text-[14px]   font-fontsans text-white p-[2px] opacity-30   transition-all duration-300 ease-linear hidden hover:opacity-100 group-hover:block dark:text-black dark:opacity-70 dark:hover:opacity-100;
}
.ghore-div-1{
    @apply desctop:w-[100%] desctop:h-[455px] bg-gradient-to-b desctop:from-white desctop:to-gray-300 opacity-100 relative mobile:w-[100%] mobile:h-[685px] mobile:pr-[45px] mobile:from-white mobile:to-gray-300 mobile:flex mobile:flex-col mobile:items-center mobile:justify-center  dark:bg-gradient-to-b dark:from-[#3b3b3b] dark:to-slate-300;
}
.ghore-div-2{
    @apply desctop:w-[450px] desctop:h-[350px] desctop:font-sans desctop:p-[10px]  desctop:absolute desctop:right-[300px] desctop:top-[50px] desctop:flex desctop:flex-col  desctop:justify-center;
}
.ghore-h2-1{
    @apply desctop:w-[430px]  desctop:text-[25px] desctop:p-[20px] font-fontsans text-[#ff0000] desctop:text-center desctop:leading-[30px]  absolute desctop:top-[10px] desctop:right-[-65px] desctop:my-[-10px] desctop:mb-[40px]
    mobile:w-[100%] mobile:h-[30px] mobile:text-[25px] mobile:top-[15px] mobile:right-[-150px]
}
.ghore-h2-2{
    @apply text-[#4b4b4b]  font-fontsans desctop:text-[20px] desctop:w-[100%] absolute desctop:top-[70px] desctop:left-[100px]  opacity-80
    mobile:w-[100%] mobile:h-[30px] mobile:text-[20px] mobile:top-[65px] mobile:right-[-60px] 
}
.ghore-h2-3{
    @apply desctop:w-[90%] desctop:h-[132px]  font-fontsans desctop:text-[14px] text-[#898989] absolute desctop:top-[130px] desctop:right-[-5px] text-right leading-[30px] mobile:w-[389px] mobile:h-[132px] mobile:text-[12px] mobile:top-[115px] right-[69px]
}
.ghore-a-1{
    @apply w-[140px] h-[40px] bg-white hover:bg-[red] absolute desctop:bottom-0 desctop:right-[0px]  rounded-[10px] font-fontsans desctop:border-none text-center leading-[40px] text-[14px] hover:opacity-100 hover:text-[white] transition-all duration-300 ease-linear opacity-70 text-[#4a4a4a] mobile:bottom-[410px] mobile:right-[70px] mobile:border-[1px] mobile:border-solid mobile:border-[#5b5b5b]; 
}
.moarefi-div-1{
    @apply desctop:w-[100%]  text-[#4a4a4a] text-[15px] font-fontsans mt-[75px]  flex flex-col justify-start items-center  ;
}
.moarefi-div-2{
    @apply desctop:w-[700px]  text-[#4a4a4a] text-[15px] p-[10px] justify-center items-center;
}
.moarefi-h2-1{
    @apply desctop:w-[100%]  desctop:text-[18px] font-bold text-[#ff0000] font-fontsans text-right
    mobile:w-[490px] mobile:h-[38px] mobile:text-[16px] mobile:pr-[20px];
}
.moarefi-div-3{
    @apply desctop:w-[680px] desctop:h-[105px] text-[#818588] desctop:text-[16px] font-fontsans leading-[40px] text-right desctop:ml-[0px]
    mobile:w-[400px] mobile:h-[152px] text-[14px] mobile:ml-[70px]; 
}
.moarefi-div-4{
    @apply desctop:w-[680px] desctop:h-[105px] text-[#818588] font-fontsans desctop:text-[16px] desctop:mt-[40px] desctop:ml-[0] text-right leading-[40px] mobile:w-[400px] mobile:h-[222px] mobile:text-[15px] mobile:ml-[50px] mobile:mt-[20px];
}
.moarefi-strong-1{
    @apply desctop:font-[20px] desctop:text-[20px] text-[#ff0000] 

   
}
.moarefi-div-5{
    @apply desctop:w-[650px] desctop:h-[105px] text-[#818588] font-fontsans desctop:text-[16px] desctop:mt-[40px] text-right desctop:ml-4  leading-[40px] mobile:w-[400px] mobile:h-[252px] text-[15px] mobile:ml-[50px] mobile:mt-0
}
.moarefi-h2-2{
    @apply desctop:text-[18px] font-bold text-[#ff0000] font-fontsans text-right
     text-[15px] mobile:mt-0
}
.moarefi-span-1{
    @apply desctop:text-[20px] text-[#ff0000] font-fontsans text-right
     mobile:text-[15px] 
}
.image-div-1{
    @apply desctop:w-[100%] desctop:h-[290px] desctop:flex desctop:justify-center desctop:mt-[200px] mobile:object-none mobile:w-0 mobile:h-0 mobile:text-opacity-0

}
.image-div-2{
    @apply desctop:w-[842px] desctop:h-[290px] desctop:p-[10px]  desctop:flex desctop:justify-center desctop:gap-[20px] items-center
    mobile:object-none mobile:w-0 mobile:h-0 mobile:text-[0]
}
.image-div-3{
    @apply desctop:w-[205px] desctop:h-[270px] desctop:relative
    mobile:object-none mobile:w-0 mobile:h-0 mobile:text-[0]
}
.image-p-1{
    @apply desctop:w-[100%] desctop:h-[21px] desctop:text-[#7c7d7e] desctop:font-fontsans desctop:text-[16px] desctop:text-center desctop:leading-[70px]
    mobile:object-none mobile:w-0 mobile:h-0 mobile:text-opacity-0
}
.image-span-1{
    @apply desctop:w-[100%] desctop:h-[1px] desctop:bg-[#4a4a4a] desctop:absolute desctop:bottom-2 desctop:right-0 desctop:opacity-30
    mobile:object-none mobile:w-0 mobile:h-0 mobile:text-opacity-0
}
.rice-div-1{
    @apply desctop:w-[100%] desctop:h-[1px]   desctop:bg-[#4a4a4a]  desctop:opacity-30 mobile:mb-[30px]
    mobile:object-none
}

.rice-img-1{
    @apply desctop:w-[100%] desctop:h-[500px] desctop:mt-[40px] object-cover 
    mobile:w-[100%] mobile:h-[241px] mobile:relative
}
.rice-div-2{
    @apply relative desctop:w-[100%] desctop:h-[520px]
}
.rice-div-3{
    @apply desctop:w-[290px] desctop:h-[97px] desctop:text-[18px] bg-[#ed1c24] desctop:pr-[17px] desctop:pb-[4px] desctop:pl-[114px] desctop:bottom-0 desctop:right-[400px] absolute z-50
    mobile:w-[100%] mobile:h-[93px] mobile:text-[17px] mobile:bottom-0 mobile:right-0
}
.rice-p-1{
    @apply desctop:w-[159px] desctop:h-[49px] text-white text-[25px] font-fontsans text-end pt-[5px] pr-[20px]
}
.rice-p-2{
   @apply desctop:w-[159px] desctop:h-[44px] text-white desctop:text-[20px] font-fontsans pt-[10px] pr-[20px] text-end
   mobile:text-[16px]
}
.rice-div-4{
    @apply w-[100%] h-[20px] absolute bottom-0 right-0 bg-[#E9D69F]
}
.rice-div-5{
   @apply desctop:w-[100%] desctop:h-[427px] flex justify-center items-center
   mobile:w-[447px] mobile:h-[527px]
}
.rice-div-6{
    @apply w-[680px] h-[320px] p-[10px] relative
}
.rice-h2-1{
    @apply desctop:w-[660px] desctop:h-[20px] text-[#ff0000] desctop:text-[24px] font-fontsans text-end font-bold desctop:pr-[23px]
    mobile:text-[18px] mobile:w-[445px] mobile:h-[18px] mobile:mb-[10px] 
}
.rice-p-3{
@apply desctop:w-[720px] desctop:h-[144px] text-[#818588] desctop:text-[14px] desctop:ml-0 font-fontsans desctop:mb-[20px] desctop:leading-[35px] desctop:mt-[40px]  desctop:pr-[80px] mobile:w-[405px] mobile:h-[216px] mobile:ml-[45px] mobile:text-[13px] mobile:p-[10px] mobile:leading-[40px] text-right
}
.rice-a-1{
    @apply w-[140px] h-[40px] bg-white hover:bg-[red]  rounded-[10px] font-fontsans absolute  desctop:right-0 desctop:bottom-0  text-center leading-[40px] text-[15px] hover:opacity-100 hover:text-[white] transition-all duration-300 ease-linear opacity-70 text-[#4a4a4a] border-[1px] border-black border-opacity-40 mr-[35px] mobile:mt-[40px] mobile:right-0 mobile:bottom-[-60px]
}
.rice-a-2{
    @apply w-[140px] h-[40px] bg-white hover:bg-[red]  rounded-[10px] font-fontsans text-center absolute desctop:bottom-0 desctop:right-[150px]  leading-[40px] text-[15px] hover:opacity-100 hover:text-[white] transition-all duration-300 ease-linear opacity-70 text-[#4a4a4a] border-[1px] border-black border-opacity-40 mr-[35px] mobile:mt-[40px] mobile:right-[155px] mobile:bottom-[-60px]
}
.tea-div-1{
    @apply relative desctop:w-[100%] desctop:h-[520px]
}
.tea-img-1{
    @apply desctop:w-[100%] desctop:h-[500px] desctop:mt-[40px] object-cover 
    mobile:w-[100%] mobile:h-[241px] mobile:relative
}
.tea-div-2{
    @apply desctop:w-[290px] desctop:h-[97px] desctop:text-[18px] bg-[#ed1c24] desctop:pr-[17px] desctop:pb-[4px] desctop:pl-[114px] desctop:bottom-0 desctop:right-[400px] absolute z-50
    mobile:w-[100%] mobile:h-[93px] mobile:text-[17px] mobile:bottom-0 mobile:right-0
}
.tea-p-1{
    @apply desctop:w-[159px] desctop:h-[49px] text-white text-[25px] font-fontsans text-end pt-[5px] pr-[20px]
}
.tea-p-2{
    @apply desctop:w-[159px] desctop:h-[44px] text-white desctop:text-[20px] font-fontsans pt-[10px] pr-[25px] text-end
    mobile:text-[16px]
}
.tea-div-3{
    @apply w-[100%] h-[20px] absolute bottom-0 right-0 bg-[#E9D69F] 
}
.tea-div-4{
    @apply w-[100%] h-[327px] flex justify-center items-center
}
.tea-div-5{
    @apply w-[680px] h-[387px] p-[10px] relative mt-[60px]
}
.tea-h2-1{
    @apply desctop:w-[660px] desctop:h-[20px] text-[#ff0000] desctop:text-[24px] font-fontsans text-end font-bold desctop:pr-[23px]
    mobile:text-[18px] mobile:w-[445px] mobile:h-[18px] mobile:mb-[10px] 
}
.tea-p-3{
    @apply desctop:w-[630px] desctop:h-[144px] text-[#818588] text-[15px] font-fontsans desctop:mb-[40px] leading-[35px] mt-[20px] text-right desctop:ml-0
    mobile:w-[383px] mobile:h-[144px] mobile:text-[12px] mobile:ml-[60px] mobile:mb-[20px]
}
.tea-p-4{
    @apply desctop:w-[630px] desctop:h-[144px] text-[#818588] desctop:text-[15px] font-fontsans desctop:mb-[20px] leading-[35px] desctop:mt-[60px] text-end absolute desctop:right-[35px] desctop:bottom-[30px] mobile:w-[380px] mobile:h-[108px] mobile:text-[12px] mobile:text-right mobile:ml-[60px]
}
.tea-a-1{
    @apply  desctop:w-[140px] desctop:h-[40px] bg-white hover:bg-[red]  rounded-[10px] font-fontsans absolute  desctop:right-0 desctop:bottom-0  text-center desctop:leading-[40px] desctop:text-[15px] hover:opacity-100 hover:text-[white] transition-all duration-300 ease-linear opacity-70 text-[#4a4a4a] border-[1px] border-black border-opacity-40 mr-[35px] mobile:mt-[40px] mobile:right-0 mobile:bottom-[-10px] mobile:text-[12px] mobile:w-[120px] mobile:h-[35px] mobile:leading-[35px]
}
.pistachio-div-1{
    @apply relative desctop:w-[100%] desctop:h-[520px]
}
.pistachio-div-2{
    @apply desctop:w-[290px] desctop:h-[97px] desctop:text-[18px] bg-[#ed1c24] desctop:pr-[17px] desctop:pb-[4px] desctop:pl-[114px] desctop:bottom-0 desctop:right-[400px] absolute z-50
    mobile:w-[100%] mobile:h-[93px] mobile:text-[17px] mobile:bottom-0 mobile:right-0
}
.pistachio-p-1{
    @apply desctop:w-[159px] desctop:h-[49px] text-white text-[25px] font-fontsans text-end pt-[5px] pr-[20px]
}
.pistachio-p-2{
    @apply desctop:w-[159px] desctop:h-[44px] text-white desctop:text-[20px] font-fontsans pt-[10px] pr-[25px] text-end
    mobile:text-[16px]}
.pistachio-div-3{
    @apply w-[100%] h-[20px] absolute bottom-0 right-0 bg-[#E9D69F]
}
.pistachio-div-4{
@apply desctop:w-[100%] desctop:h-[380px] flex justify-center items-center
mobile:w-[100%] mobile:h-[420px]
}
.pistachio-div-5{
    @apply w-[680px] h-[347px] p-[10px] relative  desctop:mt-[0]
}
.pistachio-h2-1{
    @apply desctop:w-[660px] desctop:h-[20px] text-[#ff0000] desctop:text-[24px] font-fontsans text-end font-bold desctop:pr-[23px]
    mobile:text-[18px] mobile:w-[445px] mobile:h-[18px] mobile:mb-[10px] }
.pistachio-p-3{
    @apply desctop:w-[630px] desctop:h-[104px] text-[#818588] text-[15px] font-fontsans desctop:mb-[0px] leading-[35px] mt-[20px] text-right desctop:ml-0
    mobile:w-[383px] mobile:h-[104px] mobile:text-[15px] mobile:ml-[60px] mobile:mb-[20px]}
.pistachio-p-4{
    @apply desctop:w-[630px] desctop:h-[144px] text-[#818588] desctop:text-[15px]  font-fontsans desctop:mb-[20px] leading-[35px] desctop:mt-[40px] text-end absolute desctop:right-[35px] desctop:bottom-[30px] mobile:w-[380px] mobile:h-[108px] mobile:text-[12px] mobile:text-right mobile:ml-[60px]
}
.pistachio-a-1{
    @apply  desctop:w-[140px] desctop:h-[40px] bg-white hover:bg-[red]  rounded-[10px] font-fontsans absolute  desctop:right-0 desctop:bottom-0  text-center desctop:leading-[40px] desctop:text-[15px] hover:opacity-100 hover:text-[white] transition-all duration-300 ease-linear opacity-70 text-[#4a4a4a] border-[1px] border-black border-opacity-40 mr-[35px]  mobile:right-0 mobile:bottom-[-15px] mobile:text-[12px] mobile:w-[120px] mobile:h-[35px] mobile:leading-[35px]
}
.bg-div-1{
    @apply  w-[100%] h-[300px]  desctop:bg-fixed bg-cover desctop:bg-center desctop:sticky mobile:static 
}
.jounral-div-1{
    @apply desctop:w-[100%] desctop:h-[60px] desctop:mt-[130px] relative mobile:w-[450px] mobile:h-[56px] mobile:mt-[40px]
}
.jounral-span-1{
    @apply desctop:w-[200px] desctop:h-[33px] text-[#ff0000] text-[20px] font-fontsans text-end absolute desctop:right-[250px] desctop:bottom-[40px]  mobile:right-0 mobile:bottom-[45px]
}
.jounral-div-2{
    @apply desctop:w-[100%] desctop:h-[682px] bg-[#cde4b0] text-[15px] font-fontsans flex desctop:flex-row desctop:p-[20px] justify-center items-center gap-6
    mobile:flex-col mobile:p-[30px]
}
.jounral-div-3{
    @apply w-[319px] h-[651px] bg-[#ffffff] ;
}
.jounral-img-1{
    @apply w-[100%] h-[313px] object-cover hover:opacity-80 transition-all duration-200 ease-linear
}
.jounral-div-4{
    @apply w-[100%] h-[290px]  text-[12px] font-fontsans text-[#4a4a4a] relative p-[10px]
}
.jounral-a-1{
    @apply w-[100%] h-[40px] text-[#ff0000] text-end text-[20px] font-fontsans pl-[0px] absolute right-5 top-[30px]
}
.jounral-p-1{
    @apply w-[275px] h-[150px] text-[#7c7d7e] text-[14px] font-fontsans text-right leading-8 mt-[10px] absolute right-5 bottom-[60px]
}
.jounral-a-2{
    @apply w-[110px] h-[40px] bg-white hover:bg-[red]  rounded-[10px] font-fontsans text-center absolute bottom-[20px] right-0  leading-[40px] text-[14px] hover:opacity-100 hover:text-[white] transition-all duration-300 ease-linear opacity-70 text-[#4a4a4a] border-[1px] border-black border-opacity-40 mr-[35px]
}
.responsibility-div-1{
    @apply w-[100%] h-[600px] bg-[#105153] mt-[60px] flex items-center justify-center flex-col relative
}
.responsibility-h2-1{
    @apply w-[100%] h-[35px] text-[#d5ece1] text-[18px] font-fontsans text-center
}
.responsibility-div-2{
    @apply bg-[#0B6467] w-[100%] h-[1.5px]  mt-[10px]
}
.responsibility-div-3{
    @apply w-[100%] h-[54px] mt-[10px]  flex justify-center items-center
}
.responsibility-span-1{
    @apply w-[126px] h-[50px] text-[#009da2] text-[30px] font-fontsans capitalize text-center
}
.responsibility-span-2{
    @apply w-[193px] h-[33px] text-[#00d8df] text-[20px] font-fontsans  capitalize text-center
}
.responsibility-div-4{
    @apply w-[100%] h-[20px] text-[#bcb3c0] text-[17px] font-fontsans text-center capitalize
}
.responsibility-img-1{
    @apply w-[395px] h-[320px] absolute bottom-[-100px] z-20
}
.responsibility-div-5{
    @apply w-[100%] h-[20px]  bg-[#E9D69F]
}
.responsibility-div-6{
    @apply w-[100%] h-[350px] flex justify-center items-center
}
.responsibility-div-7{
    @apply w-[680px] h-[387px] p-[10px] relative mt-[220px] 
}
.responsibility-h2-2{
    @apply desctop:w-[660px] desctop:h-[20px] text-[#ff0000] desctop:text-[24px] font-fontsans text-end font-bold desctop:pr-[23px]
    mobile:text-[18px] mobile:w-[445px] mobile:h-[18px] mobile:mb-[10px] 
}
.responsibility-p-1{
   @apply desctop:w-[630px] desctop:h-[104px] text-[#818588] text-[15px] font-fontsans desctop:mb-[0px] leading-[35px] mt-[20px] text-right desctop:ml-0
    mobile:w-[383px] mobile:h-[104px] mobile:text-[13px] mobile:ml-[60px] mobile:mb-[20px]
}
.responsibility-a-1{
    @apply w-[140px] h-[40px] bg-white hover:bg-[red]   rounded-[10px] font-fontsans absolute  desctop:right-0 desctop:bottom-[100px]  text-center leading-[40px] text-[15px] hover:opacity-100 hover:text-[white] transition-all duration-300 ease-linear opacity-70 text-[#4a4a4a] border-[1px] border-black border-opacity-40 mr-[35px] mobile:mt-[40px] mobile:right-0 mobile:bottom-[60px]
}
.icon-div-1{
    @apply w-[100%] h-[95px] bg-[#eeefef] mt-[100px] flex justify-center items-center gap-[8px]
}
.icon-div-2{
    @apply w-[100%] h-[75px] p-[10px] flex justify-center  gap-[5px]
}

.footer-div-1{
    @apply w-[100%] h-[25px] bg-[#e21c24]
}
.footer-div-2{
    @apply desctop:w-[100%] desctop:h-[500px] bg-[#282828] flex desctop:justify-center desctop:items-start desctop:flex-row gap-[5px] relative
    mobile:w-[100%] mobile:h-[1600px] mobile:p-[10px] mobile:flex-col mobile:justify-start mobile:items-center dark:bg-black
}
.footer-div-3{
    @apply desctop:w-[700px] desctop:h-[364px] desctop:p-[10px] mt-[30px] flex desctop:justify-start desctop:content-center desctop:flex-row
    mobile:w-[100%] mobile:h-[1400px] mobile:p-[10px] mobile:flex-col mobile:justify-start mobile:items-center
}
.footer-div-4{
    @apply w-[170px] h-[100%] flex flex-col
}
.footer-div-5{
    @apply w-[150px] h-[90px] flex justify-center items-center
}
.footer-img-1{
    @apply w-[150px] h-[90px] pl-[20px] mobile:pr-[15px]
}
.footer-div-6{
    @apply desctop:w-[90%] h-[1px] bg-white mt-[20px] opacity-40 desctop:ml-0
    mobile:w-[450px]  mobile:ml-[-140px]
}
.footer-h2-1{
    @apply w-[100%] h-[22px] text-[16px] font-fontsans text-white text-center leading-[36px]  mobile:pr-[25px]
}
.footer-div-7{
    @apply w-[150px] h-[150px] mt-[10px] text-right  flex justify-start content-start flex-col
}
.footer-a-1{
    @apply w-[100%] h-[28px]  text-white pt-[10px] mr-[10px] text-[12px] font-fontsans  opacity-60 hover:opacity-100
    mobile:text-center
}
.footer-div-8{
    @apply w-[100%] h-[125px] flex justify-center items-center flex-col absolute bottom-0 gap-4
}
.footer-span-1{
    @apply w-[326px] text-[#9f9f9f] text-[13px] font-fontsans mobile:ml-[50px]
    desctop:ml-0
}
.footer-span-2{
    @apply w-[255px] h-[17px] text-[#7b7b7b] text-[14px] font-fontsans mt-[-10px]
    mobile:ml-[50px]
    desctop:ml-0
}
 
.video-div-1{
    @apply desctop:w-[100%] desctop:h-[650px] bg-white flex desctop:flex-row justify-center pt-[45px] desctop:px-[230px]
mobile:w-[100%] mobile:h-[1803px]   mobile:flex-col mobile:items-center mobile:px-0 mobile:pl-[20px]
}
.video-div-2{
    @apply desctop:h-[600px] desctop:w-[100%] flex desctop:flex-col desctop:flex-wrap desctop:mb-0
    mobile:w-[100%] mobile:h-[1803px]  mobile:mt-[100px]   mobile:flex-col mobile:items-center mobile:mb-[100px];
}
.video-div-3{
    @apply desctop:w-[315px] desctop:h-[83%] flex flex-col flex-wrap default:items-center shadow-lg shadow-neutral-600
    mobile:w-[320px] mobile:h-[950px] mobile:relative   mobile:flex-col mobile:items-center mobile:px-0 mobile:mb-[40px]
    
}
.video-div-4{
    @apply desctop:w-[100%] desctop:h-[70%]
     mobile:w-[100%]  mobile:h-[40%] mobile:absolute mobile:top-0 mobile:right-0;
}
.tittle-div {
    @apply desctop:w-[97.9%] desctop:h-[100px] bg-white flex flex-col items-end pt-[10px] px-[22px] justify-center relative desctop:top-[200px]
    mobile:h-[50px] mobile:w-[100%]  mobile:absolute mobile:top-[300px] mobile:right-0
    
  }
  .h2-tittle {
    @apply w-[100%] h-[40px] text-right text-[18px] font-bold text-[#ff0000] font-fontsans mr-[5px]
  }
    .video-p-1{
        @apply  font-fontsans h-[60px] text-neutral-600 text-right leading-10 mt-[5px] text-[12px]
        
      }
      .video-a-1{
        @apply w-[110px] h-[40px] bg-white hover:bg-[red]  rounded-[10px] font-fontsans text-center   leading-[40px] text-[12px] hover:opacity-100 hover:text-[white] transition-all duration-300 ease-linear opacity-70 text-[#4a4a4a] border-[1px] border-black border-opacity-40 mr-[35px] mobile:text-[12px] absolute bottom-[-180px] right-[-10px]
    }
    .button{
      @apply  w-[40px] h-[40px] bg-[#00000066] fixed z-50 bottom-[40px] left-[20px] hover:bg-[#2b2b2b] transition-all duration-200 ease-linear hidden justify-center items-center scroll-smooth
    }
    .darkkk{
        @apply w-[55px] h-[55px] bg-[#00000066] fixed z-50 bottom-[100px] left-[15px] hover:bg-[#2b2b2b] transition-all  duration-200 ease-linear  justify-center items-center rounded-[50%] text-[15px] p-[10px] text-center leading-[35px] text-white dark:bg-white dark:text-black cursor-pointer
    }
    
      
  }



@layer components{
    .log-div-1{
        @apply w-[100%] h-[47px] mt-[75px] mb-[45px] bg-[#ffffff] flex justify-end font-bold desctop:pr-[300px] pt-[10px]
    }
    .log-span-1{
        @apply desctop:w-[51px] desctop:h-[36px] text-[#ff0000] text-[25px] font-fontsans
        mobile:w-[100%] mobile:text-right mobile:pr-[60px]
    }
    .navbar{
        @apply w-full flex justify-start cursor-pointer  desctop:object-none desctop:h-[0] desctop:w-[0] absolute bottom-0 right-[-425px] opacity-40 hover:opacity-100 transition-all duration-200 ease-linear 
    }
    .navbar-span-1{
        @apply block w-8 h-1 m-6 mx-4 bg-white before:block before:w-full before:h-full before:bg-white before:relative before:-top-3 after:block after:w-full after:h-full after:bg-white after:relative after:top-2  
    }
    .navbar-a-1{
        @apply text-[15px] font-fontsans text-right text-[#c4c7c9] hover:text-white hover:opacity-[1] opacity-[0.6] transition py-2.5 px-6  dark:text-black pt-4
    }
    .navbar-2{
        @apply  h-[100%]   w-full flex justify-start cursor-pointer  desctop:object-none desctop:h-[0] desctop:w-[0] absolute bottom-0 right-[-425px] opacity-40 hover:opacity-100 transition-all duration-200 ease-linear 
    }
    .navbar-span-2{
        @apply w-[100%] h-[100%]
    }
    .navbar-a-2{
        @apply text-[0px] group-checked:text-[15px]
    }
    
    
    
}



 