*{
    
        
        font-family: sans;
        text-direction: none;
        overflow: hidden;
        
      
}

@font-face {
    font-family: font;
    src: url(../font/IRANSansWebFaNum-Medium.eot) format(eot);
    src: url(../font/IRANSansWebFaNum-Medium.ttf) format(ttf);
    src: url(../font/IRANSansWebFaNum-Medium.woff) format(woff);
    src: url(../font/IRANSansWebFaNum-Medium.woff2) format(woff2);
  }
.html body{
    direction: rtl;
    scroll-behavior: smooth !important;
}
:root {
    
    --font--family: iran;
  }